node_modules/
.env
.env.local
firebase-debug.log
build/
.dart_tool/
third_party/agora_rtc_engine/**/.cxx/
android/.gradle/
android/app/build/
ios/Pods/
macos/Flutter/ephemeral/
windows/flutter/ephemeral/
linux/flutter/ephemeral/ios/Pods/
macos/Pods/
android/.gradle/
